@import url("https://fonts.googleapis.com/css?family=Andika");
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #59595C !important;
  color: #ecedef !important;
  overflow-x: hidden; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a:hover {
    color: #FAA61A; }
  a.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }

/* ======== HEADER ======== */
.logo {
  position: fixed;
  float: left;
  margin: 15px 0px 0px 15px;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(187, 189, 192, 0.9);
  padding: 5px;
  color: #5b5b5b;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #FAA61A; }

/* ======== Footer ======== */
#footer {
  margin-top: 50px !important;
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 170px;
  background: #e3e3e3 none repeat scroll 0 0;
  text-align: center;
  font-size: 10px;
  padding: 0;
  display: block; }

#footer-wraper {
  padding-top: 20px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 1024px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 767px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

.weirdo-container {
  margin-bottom: 250px;
  display: table;
  width: 100%; }
  .weirdo-container .weirdo-left, .weirdo-container .weirdo-right {
    display: table-cell;
    vertical-align: top; }
  .weirdo-container .weirdo-right-inner {
    padding-top: 7px;
    padding-left: 40px; }
    .weirdo-container .weirdo-right-inner h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.5em;
      margin-left: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li > a {
      text-decoration: none; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li + li:before {
      padding: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb {
      background: none;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      font-size: 1.5em;
      color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li {
        color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li.active {
        color: #faa619;
        text-decoration: underline; }
    .weirdo-container .weirdo-right-inner .numbers-table {
      display: table; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row {
        display: table-row; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row > div {
        padding-top: 10px; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row.last-row > div {
        padding-top: 70px; }
      .weirdo-container .weirdo-right-inner .numbers-table .number-left {
        display: table-cell;
        font-size: 20px;
        font-weight: 600;
        color: #faa619;
        min-width: 100px; }
      .weirdo-container .weirdo-right-inner .numbers-table .caption-right {
        display: table-cell;
        font-size: 1.5em;
        padding-left: 1em; }
        .weirdo-container .weirdo-right-inner .numbers-table .caption-right span {
          color: #ccc; }
  .weirdo-container .control-img-container {
    overflow: hidden;
    position: relative; }
  .weirdo-container .control-img {
    width: 100%;
    height: 100%; }
  .weirdo-container .frame-container {
    margin-top: 10px; }
  .weirdo-container .img-frame {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .weirdo-container .img-frame-overlay {
    outline: 999px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1000;
    background: transparent;
    border: 1px dashed white; }
  .weirdo-container .preload-container {
    overflow: hidden; }
  .weirdo-container .right {
    float: right; }
  .weirdo-container .left {
    float: left;
    text-align: right;
    padding-right: 7px; }
    .weirdo-container .left .caption {
      font-style: italic;
      color: #58595b; }
    .weirdo-container .left .number {
      font-size: 20px;
      font-weight: 600;
      color: #faa619; }
  .weirdo-container .chart-container {
    padding-top: 20px; }
  .weirdo-container .chart-svg-container {
    overflow: visible; }
  .weirdo-container .chart-left, .weirdo-container .top-axis-left {
    height: 1px;
    display: block; }
  .weirdo-container div.vertical-line {
    border-left: 2px solid white;
    position: absolute;
    width: 1px;
    left: 0;
    top: 0; }
  .weirdo-container svg, .weirdo-container text {
    font-family: "Open Sans", sans-serif; }
  .weirdo-container svg text {
    fill: #58595b;
    stroke: none;
    font-style: italic; }
  .weirdo-container svg {
    shape-rendering: crispEdges;
    overflow: visible; }
    .weirdo-container svg .axis path {
      display: none; }
    .weirdo-container svg .axis--x text {
      text-anchor: start; }
    .weirdo-container svg .tick line {
      stroke: #58595b;
      opacity: .3;
      stroke-width: 1;
      stroke-dasharray: 2,2; }
    .weirdo-container svg .line {
      fill: none;
      stroke-width: 1.5px;
      stroke-linecap: round;
      shape-rendering: auto; }
    .weirdo-container svg .line-right {
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-left {
      stroke: #faa619; }
    .weirdo-container svg .line-dashed {
      stroke-dasharray: 2, 4;
      stroke-width: 2px;
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-declared {
      stroke: #faa619;
      stroke-width: 2.5px; }
    .weirdo-container svg path.line-annotation, .weirdo-container svg #arrowhead {
      stroke: #8c9494;
      stroke-opacity: 0.87;
      fill: none;
      shape-rendering: auto; }
    .weirdo-container svg circle {
      fill: #8c9494;
      fill-opacity: 0.87;
      shape-rendering: auto; }
    .weirdo-container svg .area-left {
      fill: #faa619;
      fill-opacity: 0.5; }
    .weirdo-container svg .area-right {
      fill: #faa619;
      fill-opacity: 0.3; }
    .weirdo-container svg .area-dashed {
      fill: #8c9494;
      fill-opacity: 0.1; }
  .weirdo-container svg.svg-frame-overlay path {
    stroke: white;
    stroke-width: 2px;
    shape-rendering: auto; }
  .weirdo-container .top-axis-container {
    margin-top: 6px; }
  .weirdo-container .top-axis-left .caption {
    margin-top: -8px; }
  .weirdo-container svg.top-axis {
    overflow: visible; }
    .weirdo-container svg.top-axis text {
      text-anchor: start; }
    .weirdo-container svg.top-axis path, .weirdo-container svg.top-axis line {
      fill: none;
      stroke: none; }

.jumbotron {
  padding-top: 10px !important;
  background-color: #59595C !important;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-top: 25vh; }

img.img {
  width: 100%;
  margin: 50px 0 50px 0; }

h1 {
  font-size: 7rem !important;
  text-align: center !important;
  line-height: 4rem;
  font-weight: 800 !important;
  margin: 20px 0 50px 0 !important;
  padding: 20px; }

h2 {
  font-size: 3rem !important;
  line-height: 5rem !important;
  font-weight: 700 !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  padding: 5px; }

h3 {
  margin-top: 50px !important;
  font-size: 1.5rem !important;
  line-height: 2.7rem !important;
  font-weight: 800 !important;
  text-align: justify; }

h5 {
  text-align: right;
  margin-bottom: 40px !important;
  color: white !important; }

.paragraph {
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-align: left;
  margin-bottom: 20px; }

p span {
  font-size: 1.3rem;
  line-height: 1rem; }

/*------ MAP ----- */
#map {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 600px;
  text-align: center; }

.leaflet-map {
  margin: 50px 0 50px 0; }

h2 {
  font-size: 1.5rem;
  text-align: center; }

ul {
  color: red;
  font-weight: 600;
  font-size: 1.2em;
  list-style-type: none;
  margin: 20px 0 10px 0 !important;
  padding: 0 !important; }

li {
  list-style: none; }

.fa .fa-square {
  color: #515661; }

text:active, text:focus {
  font-size: 1.3rem;
  font-weight: 800;
  fill: #FAA61A;
  outline: none; }

.description {
  font-size: calc(16px * 0.5vw) !important;
  margin-right: 5%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px; }

.point {
  color: #8d8d8d; }

table {
  margin-top: 40px; }

.margin {
  margin-left: -10px; }

#legend {
  overflow: visible; }

.legend {
  font-size: 1rem; }

.flex-cont {
  display: flex; }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  color: #333;
  opacity: 0.8;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

/*# sourceMappingURL=application.css.map */
