@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/weirdo";

/*---- header ---*/
.jumbotron {
  padding-top:10px!important;
  background-color: $main-text !important;
  height: 100vh;
  width:100vw;
  background-image: url(../img/pic_church.jpg);
  background-position: center;
  background-size: cover;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium}  {
    height: 100vh;
  }

  @media #{$brk-spnarrow}
  and (orientation: portrait) {
    height: 60vh;
  }

  @media screen and (min-device-width: 768px)
  and (max-device-width: 1824px)
  and (orientation : landscape){
    height: 100vh;
  }
}

#inner-box {
  background: black;
  width: 100vw;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium}  {
    height: 100vh;
    display: none;
  }
  @media #{$brk-spnarrow}
  and (orientation: portrait) {
    display:block;
    height: 60vh;
  }
  @media #{$brk-spnarrow}
  and (orientation: landscape) {
    height: 100vh;
    display: block;
  }
}

h1 {
  font-family: 'Andika', sans-serif!important;
  letter-spacing: 1px;
  margin-left: 10%!important;
  text-align: left!important;
  font-weight: 800!important;
  color:$white!important;
  @media #{$brk-xlarge} {
    margin-top:10vh!important;
    font-size: 4vw!important;
    line-height: 5vw!important;

  }
  @media#{$brk-large},
  #{$brk-medium}  {
    margin-top:10vh!important;
    font-size: 4.5vw!important;
    line-height: 5.0vw!important;
  }
  @media #{$brk-narrow} {
    margin-top:15vh!important;
    font-size: 4vw!important;
    line-height: 5vw!important;
  }
  @media #{$brk-spnarrow} {
    margin-top: 15vh!important;
    font-size: 8vw!important;
    line-height: 9vw!important;
  }
}

/*---- images and graphics---*/

img.img {
  width:100%!important;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium},
  #{$brk-narrow} {
    margin: 0 0 50px 0;
  }
  @media #{$brk-spnarrow}{
    margin: 0 0 50px 0;
  }

}

.img-capture {
  margin-top: 60px!important;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium},
  #{$brk-narrow},
  #{$brk-spnarrow} {
    margin-left: 60px!important;
  }
  @media #{$brk-iphone}{
    margin-left: 10px!important;
  }
}

.img-lead {
  font-style:italic;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium},
  #{$brk-narrow} {
    margin-left: 60px;
  }
  @media #{$brk-spnarrow}{
    margin-left: 10px;
  }
}

//img.img-m {
//  width:100%;
//  margin: 50px 0 50px 0;
//  @media #{$brk-xlarge},
//  #{$brk-large},
//  #{$brk-medium}  {
//    display:none;
//  }
//  @media #{$brk-narrow},
//  #{$brk-spnarrow}{
//    display:block;
//  }
//}


/*---- text ---*/

h2 {
  text-align: left!important;
  font-size: 2rem!important;
  line-height: 2rem!important;
  font-weight: 700!important;
  margin-left: 0!important;

}

h2.subtitle {
  text-transform: uppercase;
  margin-top: 60px!important;
  margin-bottom: 15px!important;

}

h3 {
  margin-top: 50px!important;
  margin-bottom: 50px!important;
  font-weight: 800!important;
  text-align: left;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium}  {
    font-size: 18px;
    line-height: 29px;
  }
  @media #{$brk-narrow} {
    font-size: 1.5rem!important;
    line-height: 2.7rem!important;
  }
  @media #{$brk-spnarrow} {
    font-size: 1.5rem!important;
    line-height: 2.7rem!important;
  }
}

h5 {
  text-align: right;
  margin-bottom: 40px!important;
  color: $main-text!important;
}

.paragraph {
  text-align:left;
  margin-bottom: 20px;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium}  {
    font-size: 16px;
    line-height: 27px;
  }
  @media #{$brk-narrow} {

  }
  @media #{$brk-spnarrow} {

  }
}

p span {
  font-size: 1.3rem;
  line-height: 1rem;
}

a.dashed {
  color:$main-text!important;
  border-bottom:1px dashed $main-text;

}


/*------ MAP ----- */


.leaflet-map {
  margin: 50px 0 50px 0;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium},
  #{$brk-narrow}   {
    display: block;
  }
  @media #{$brk-spnarrow} {
    display: none;
  }
}

.leaflet-mob-map {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium},
  #{$brk-narrow}  {
    display: none;
  }
  @media #{$brk-spnarrow}{
    display: block;
  }
}

  #desktop-map {
    height: 90vh;
    background-color: white;
  }

  #mob-map {
    background-color: white;
    height: 60vh;
    /*Portrait*/
    /* ----------- Galaxy S4, S5 and Note 3 ----------- */
    @media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {
      height: 60vh;
    }
    /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      height: 60vh;
    }

    /* ----------- iPhone 6+, 7+ and 8+ ----------- */
    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
      height: 60vh;
    }

    /* ----------- iPhone X ----------- */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
      height: 60vh;
    }


    /*Landscape*/
    /* ----------- Galaxy S4, S5 and Note 3 ----------- */
    @media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) {
      height: 100vh;
    }
    /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      height: 100vh;
    }
    /* ----------- iPhone 6+, 7+ and 8+ ----------- */
    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
      height: 100vh;
    }
    /* ----------- iPhone X ----------- */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
      height: 100vh;
    }
  }


  .hexagon {
    opacity: 0.8
  }

  .leaflet-container {
    cursor: pointer!important;
  }

  .leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
    background: none!important;
    border-radius: 3px;
    box-shadow: none;
  }

  .custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.1);
  }
  .custom-popup .leaflet-popup-tip-container {
    width:20px;
    height:15px;
  }
  .custom-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
  }

  /* remove popup triangle*/
  .leaflet-popup-tip {
    border: 0;
  }

  /* create new popup background for zoom-7*/
  .custom {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    line-height: 14px;
  }

  .leaflet-container p {
    text-align: right;
    color: #59595C;
    font-size: 13px;
    line-height: 15px;
    margin-right: 5px;

  }

  .leaflet-popup-tip-container {
    width: 0;
    height: 0;
    margin: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /*border-top: 10px solid #fff;*/
    box-shadow: none;
  }

#desktop-map >
div.leaflet-control-container > div.leaflet-bottom.leaflet-right >
div.leaflet-control-minimap.leaflet-container.leaflet-fade-anim.leaflet-control >
div.leaflet-map-pane > div.leaflet-objects-pane > div.leaflet-overlay-pane >
svg > g:nth-child(1) > path
  {
    fill:none!important;
  }

  .leaflet-control-zoom-out, .leaflet-control-zoom-in {
    background-color: #aaa!important;
  }


  //dynamic map annotation at the top-right corner
  .description {
    margin-top:20px;
    font-size: 13px !important;
    line-height: 16px;
    position:absolute;
    top:0;
    left:20px;
    text-align: right;

    @media #{$brk-xlarge} {
      width:10%;
      margin-left: 85%;
      margin-right:70px;
    }

    @media #{$brk-large},
    #{$brk-medium} {
      width:20%;
      margin-left: 70%;
      margin-right:70px;
    }

    @media #{$brk-narrow} {
      width:20%;
      margin-left: 65%;
      margin-right:70px;
      margin-top:20px;
    }

    @media #{$brk-spnarrow}
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait){
      width:40%;
      margin-left: 40%;
      margin-right:70px;
    }

    @media #{$brk-spnarrow}
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape){
      width:30%;
      margin-left: 55%;
      margin-right:30px;
      margin-top:20px;
    }
  }

  .description2 {
    width:90%;
    margin: 5% auto;
    font-size: 10px !important;
  }

#arrow-svg {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium}  {
    margin-top:20px;
    font-size: 13px !important;
    line-height: 16px;
    position:absolute;
    top:0;
    right:20px;
    text-align: right;
  }
  @media #{$brk-narrow},
  #{$brk-spnarrow} {
    display:block;
  }
}




