@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/weirdo";



.container {
  //margin-top:30px;
}

.jumbotron {
  padding-top:10px!important;
  background-color: $main-text !important;
  height: 100vh;
  width:100vw;
  background-image: url(../img/pic_church.jpg);
  background-position: center;
  background-size: cover;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium}  {
    height: 100vh;
  }

  @media #{$brk-spnarrow} {
    height: 60vh;
  }

}

#inner-box {
  background: black;
  width: 100vw;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium}  {
    height: 100vh;
    display: none;
  }
  @media #{$brk-spnarrow} {
    height: 60vh;
    display: block;
  }
}

img.img {
  width:100%;
  margin: 50px 0 50px 0;
}

h1 {
  margin-left: 10%!important;
  text-align: left!important;
  font-weight: 800!important;
  color:$white!important;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium}  {
    margin-top:15vh!important;
    font-size: 5vw!important;
    line-height: 5vw!important;
  }
  @media #{$brk-narrow} {
    margin-top:5vh!important;
    font-size: 5vw!important;
    line-height: 5vw!important;
  }
  @media #{$brk-spnarrow} {
    margin-top: 20vh!important;
    font-size: 8vw!important;
    line-height: 9vw!important;
  }
}

h2 {
  font-size: 3rem!important;
  line-height: 5rem!important;
  font-weight: 700!important;
  margin-top: 30px!important;
  margin-bottom: 30px!important;
  padding: 5px;
}

h3 {
  margin-top: 50px!important;
  font-size: 1.5rem!important;
  line-height: 2.7rem!important;
  font-weight: 800!important;
  text-align: justify;
  //background-color: #dfe0e2;
}

h5 {
  text-align: right;
  margin-bottom: 40px!important;
  color: white!important;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align:left;
  margin-bottom: 20px;
  @media #{$brk-spnarrow} {

  }
}

p span {
  font-size: 1.3rem;
  line-height: 1rem;
}


/*------ MAP ----- */

#map {
   max-width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   height: 600px;
   text-align: center;
}



.leaflet-map {
  margin: 50px 0 50px 0;
}

h2 {
  font-size:1.5rem;
  text-align: center;
}
ul {
  text-align: left;
  font-size: 1.2em;
  list-style-type: none;
  padding-top: 20px;
}

li {
  list-style: none;
}

.fa .fa-square {
  color: #515661;
}

text:active, text:focus {
  font-size: 1.3rem;
  font-weight: 800;
  fill: #FAA61A;
  outline:none;
}

.description {
  font-size: calc(16px * 0.5vw)!important;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:10px;
  margin-bottom: 10px;
}

.point {
  color: #8d8d8d;
}



table {
  margin-top:40px;
}

.margin {
  margin-left: -10px;
}


#legend {
  overflow: visible;
}

.legend {
  font-size:1rem;
}

.flex-cont {
  display:flex;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  color: #333;
  opacity:0.8;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.leaflet-bar a {
  background-color: #d1d1d1 !important;
}

