html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-serif;
  font-size: 100%;
  color: $main-text;
  width: 100%;
  /*footer height plus padding*/
  margin-bottom: 200px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
  &:hover {
    color: #FAA61A;
  }
  &.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }
}



.last-div {
  margin-bottom: 300px;
}
